* {
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(229, 236, 236)  ;
}

.Navbar {

    display: flex;
    height: 5rem;
    background-image: linear-gradient(to right,rgb(40, 112, 134),rgb(204, 255, 0));
}

.icons {
    position: absolute;
    right: 2rem;
    margin-top: 1.5rem;
}

.logocontainer{
    position: relative;
    left: 1rem;
}

.el1,
.el2,
.el3 {
    margin-left: 1rem;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.7rem;
    padding: 4px 1rem;
    font-size: large    ;

}

.el1:hover{
    background-color: rgb(3, 21, 27);
    color: rgb(255, 255, 255);
}
.el2:hover{
    background-color: rgb(2, 15, 19);
    color: rgb(244, 244, 244);
}
.el3:hover{
    background-color: rgb(1, 9, 11);
    color: rgb(255, 255, 255);
}



.title{
    text-align: center;
    /* margin-top: 20rem; */
    /* border: 1px solid rgb(215, 206, 206); */
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 12rem;
    padding: 8rem 6rem;
    box-shadow: 3px 4px 10px  rgb(98, 89, 89);
    background-image: linear-gradient(to right,rgb(204, 226, 209),rgb(39, 74, 181));
}

.PIN{
    height: 2rem;
    width: 15rem;
    background-color: black;
    color: white;
    border-radius: 0rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
}
.Enter{
    margin-top: 10px;
    border-radius: 10px;
    font-size: large;
    margin-top: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 23px;
}

.Enter:hover{
    background-image: linear-gradient(to right,rgb(33, 35, 42),rgb(0, 0, 0));
    cursor: pointer;
    color: whitesmoke;

}

::placeholder{
    color: white;
}

