.congo{
    margin-top: 60px;
}
.runner-box{
    margin-top: 100px;
}
.runner-bottom{
    margin-bottom: 80px;
}
/* .ranking-value{
    background: linear-gradient(to right, #00b4db, #0083b0) !important;
} */