* {
    padding: 0%;
    margin: 0%;
}

.teamname{
    position: relative;
}

.division{
    margin-top: 20px;
    position: relative;
    margin-bottom: 200px;
    text-align: center;
}

.ranks{
    height: 463px;
    margin-top: 80px;
    display: flex;
    align-self: flex-end;
}

.position{
    display: flex;
    align-self: flex-end;
}

.position1{
    background-color: yellow;
    width: 200px;
    height: 0px;
    animation: first 2s 2s forwards ease;
}
.position1:hover{
    background-color: rgb(202, 202, 0);
}
.position2{
    background-color: orange;
    width: 200px;
    height: 0px;
    animation: second 2s 1s forwards ease;
}
.position2:hover{
    background-color: rgb(199, 129, 0);
}
.position3{
    background-color: green;
    width: 200px;
    height: 0px;
    animation: third 2s forwards ease;
}
.position3:hover{
    background-color: rgb(0, 82, 0);
}

@keyframes first {
    to{
        height: 400px;
    }
}
@keyframes second {
    to{
        height: 300px;
    }
}
@keyframes third {
    to{
        height: 200px;
    }
}
/* @keyframes wiggle {
    from{
        height: 350px;
    }
    to{
        height: 400px;
    }
} */

/* @keyframes up {
    0% {
      transform: scale(1, 0);
    }
    50% {
      transform: scale(1, .5);
    }
    80%, 100% {
      transform: scale(1, 1);
    }
    90% {
      transform: scale(1, .9);
    }
  } */