:root {
    --Text-light: black;
    --Text-dark: white;
    --Text-normal: #475edf;
    --Text-quiz: #b18170;

    --font-size-base: 1rem;
    --font-size-biggish: 1.75rem;
    --font-size-big: 2.25rem;
}

/* 
  
  Add these styles like prop : var(--Var-name);
  example->
  
  h2{
      color: var(--Text-quiz);
  
    } 
    
 */